{% extends "main.html" %}
{% block content %}
    
    <div class="card card-half">
        <form role="form" action="/post/login/">
        <span class="label-gray">Login</span>
        <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="Email">
            <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default card align-right">Login</button>
        </form>
    </div>
{% endblock %}