<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>{% block title %}{{app_name}}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">{{app_name}}</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {% for label, link, active in header_links %}
            <li {% if active %}class="active"{% endif %}><a href="{{link}}">{{label}}</a></li>
            {% endfor %}            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/login/">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      {% block content %}
      <div class="card jumbotron">
        <h1>{{app_name}}</h1>
        <p>{{app_description}}</p>
        <p>
          <a class="btn btn-lg btn-primary" href="/organizations/">Find an organization near you! &raquo;</a>
        </p>
      </div>
      {% endblock %}

      <div class="card footer">
      <p> <i>Copyright 2013 - Nick Johnstone </p>
      </div>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery-2.0.3.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
  </body>
</html>
