.label a
{
    color: #fff;
}

.label
{
    background-color: #61AEFA;
    margin: 3px;
}

.label-gray
{
    position: relative;
    color: #A8A6A6;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    margin-left: -0.5em;
    margin-right: 0.5em;
    margin-top: -1.25em;
    vertical-align: middle;
    display: inline-block;
}


.jumbotron
{
    padding: 1em;
}

.panel-footer, .panel-heading
{
    border-width: 0px !important;
    border: 0px 0px 0px 0px !important;
    background-color: rgb(240, 240, 240);
    float: left;
    width: 100%;
}

.panel-body
{
    background-color: rgb(249, 249, 249);
}

.card
{
    background-color: rgb(249, 249, 249);
    border-radius: 1px !important;
    border-style: solid;
    box-shadow: 0px 1px 0px rgb(224, 224, 224)  !important;
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
    margin-bottom: 1em;
    overflow: auto;
}

.card-contents
{
    padding: 15px;
}

.card-half
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.footer
{
    color: #9C9C9C;
    letter-spacing: 1px;
    margin-top: 2em;
    text-align: center;

}

.footer p
{
    margin: 1em;
}

.align-right
{
    float: right;
}

.text-align-mid
{
    text-align: center;
}

.form-control
{
    margin-top: 15px;
}