.label a
{
    color: #212E3B;
}

.label
{
    background-color: #61AEFA;
}

.label-skills
{
    position: relative;
    color: #9C9C9C;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 12px;
    margin-left: -0.5em;
    margin-right: 0.5em;
    top: 1px;
}


.jumbotron
{
    padding: 1em;
}

.panel-footer, .panel-heading
{
    border-width: 0px !important;
    border: 0px 0px 0px 0px !important;
    background-color: rgb(240, 240, 240);
}

.panel-body
{
    background-color: rgb(249, 249, 249);
}

.card
{
    background-color: rgb(249, 249, 249);
    border-radius: 1px !important;
    border-style: solid;
    box-shadow: 0px 1px 0px rgb(224, 224, 224)  !important;
    border-width: 1px !important;
    border-color: #E0E0E0 !important;
}